.title {
  color: var(--color-primary-marine-blue);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.5em;
}

.description {
  color: var(--color-neutral-cool-gray);
  font-size: calc(0.6 * var(--font-size-title));
}
