@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("./Ubuntu-Regular.ttf") format("tff");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("./Ubuntu-Medium.ttf") format("tff");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("./Ubuntu-Bold.ttf") format("tff");
  font-display: swap;
}
