$stepperHeight: 30vh;

.wrapper {
  --spacing: 2rem;

  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-neutral-magnolia);
  overflow: hidden;

  app-stepper {
    width: 100%;
    height: $stepperHeight;
  }

  main {
    position: absolute;
    top: calc(0.55 * $stepperHeight);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-height: 70vh;
    padding: calc(2 * var(--spacing)) var(--spacing);
    background-color: var(--color-neutral-white);
    border-radius: var(--card-border-radius);
    overflow-y: scroll;
  }

  app-navigation-actions {
    z-index: 1;
    padding: 0 5%;
    background-color: var(--color-neutral-white);
  }
}

@media screen and (min-width: 875px) {
  .wrapper {
    --spacing: 4.5rem;

    display: grid;
    grid-template-areas:
      "stepper content"
      "stepper content"
      "stepper actions";
    grid-template-columns: 35rem 1fr;
    background-color: var(--color-neutral-white);

    app-stepper {
      grid-area: stepper;
      height: 100vh;
      padding: 2rem;
    }

    main {
      grid-area: content;
      position: relative;
      transform: translate(0);
      top: initial;
      left: initial;
      height: initial;
      width: clamp(40rem, 100%, 75rem);
      overflow: initial;
      margin: 0 auto;
      border-radius: 0;
      padding: var(--spacing);
    }

    app-navigation-actions {
      grid-area: actions;
      align-self: flex-end;
      margin: 0 auto;
      padding: var(--spacing);
      width: clamp(40rem, 100%, 75rem);
      z-index: unset;
      background-color: transparent;
    }
  }
}
