.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "stepper content"
    "stepper content"
    "stepper actions";
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  overflow: hidden;

  app-stepper {
    grid-area: stepper;
  }

  main {
    grid-area: content;
    padding: 5rem;
    width: min(100%, 75rem);
  }

  .actions {
    grid-area: actions;
  }
}
