<app-heading [title]="title" [description]="description"></app-heading>

<section class="personal-info">
  <form [formGroup]="personalInfoForm" class="personal-info__form">
    <label class="personal-info__form__text__label">Name</label>
    <mat-form-field class="personal-info__form__field">
      <input matInput placeholder="e.g. Stephen King" formControlName="name" />
    </mat-form-field>

    <div class="personal-info__form__text">
      <label class="personal-info__form__text__label">Email Address</label>
      <!-- <mat-error *ngIf="email.touched && email.invalid">{{
        getEmailErrorMessage()
      }}</mat-error> -->
    </div>
    <mat-form-field class="personal-info__form__field">
      <input
        matInput
        placeholder="e.g. stephenking@lorem.com"
        formControlName="email"
      />
    </mat-form-field>

    <div class="personal-info__form__text">
      <label class="personal-info__form__text__label">Phone Number</label>
      <!-- <mat-error *ngIf="phone.touched && phone.invalid">{{
        getPhoneErrorMessage()
      }}</mat-error> -->
    </div>
    <mat-form-field class="personal-info__form__field">
      <!-- <span matTextPrefix *ngIf="phone.value != ''">+53 </span> -->
      <input
        matInput
        placeholder="e.g. +1 234 567 890"
        formControlName="phone"
      />
    </mat-form-field>
  </form>
</section>
