<app-heading [title]="title" [description]="description"></app-heading>

<section class="personal-info">
  <form [formGroup]="personalInfoForm" class="personal-info__form">
    <app-input-text
      label="Name"
      placeholder="e.g. Stephen King"
      formControlName="name"
    ></app-input-text>

    <app-input-text
      label="Email Address"
      placeholder="e.g. stephenking@lorem.com"
      formControlName="email"
    ></app-input-text>

    <app-input-text
      type="tel"
      label="Phone Number"
      placeholder="e.g. +1 234 567 890"
      formControlName="phone"
    ></app-input-text>
  </form>
</section>
