$gap: 2.5rem;

:host {
  display: flex;
  flex-direction: column;
  gap: var(--heading-bottom-spacing);
}

.personal-info {
  &__form {
    display: flex;
    flex-direction: column;
    gap: $gap;
  }
}
